@charset "utf-8";
@font-face {
	font-family: 'DMSerifDisplay';
	src: url("../fonts/DMSerifDisplay-Regular.woff")format('woff');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Karla';
	src: url("../fonts/Karla-Regular.woff");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Karla';
	src: url("../fonts/Karla-Bold.woff");
	font-style: bold;
	font-weight: 700;
}

/*################################### GENERAL ###################################*/
*{
	box-sizing: border-box;
}
body{
	width: 100vw;
	height: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin:0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
a:hover,input[type="button"]:hover{
	cursor:pointer;
}
.square-button{
	height: 40px;
	border: solid 1px;
	background-color: hsla(0,0%,100%,0);
	font: 700 14px 'Karla';
}
.decoLine{
	width: 150px;
	height: 60px;
	border-top: solid 1px;
}
/*################################### NAV ###################################*/
nav{
	width: 1440px;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 165px;
}
nav > div{
	height: 40px;
}
#nav-logo{
	width: 112px;
	background: url("../images/logo.svg") center/112px no-repeat;
}
#nav-links{
	width: 450px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font: 700 14px 'Karla';
}

a[class="nav-link"]{
	color:hsl(273, 4%, 51%);
}

#nav-viewPlansBt{
	width: 145px;
	color: black;
	border-color: black;
}
/*################################### HEADER ###################################*/
header{
	width: 1440px;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 105px 165px 0px 165px;
	background-color: hsl(256, 26%, 20%);
	color: white;
}
#header-decoLine{
	border-top-color: white;
}
h1{
	width: 540px;
	font: 400 72px/0.9'DMSerifDisplay';
	padding: 0px;
	margin: 0px 0px 25px 0px;
}

#header-text{
	width: 540px;
	font: 400 16px/1.7 'Karla';
	padding: 0px;
	margin: 0px 0px 30px 0px;
}

#header-viewPlansBt{
	width: 145px;
	color: white;
	border-color: white;
}
/*################################### MAIN ###################################*/

main{
	width: 1440px;
	height: 1340px;
	display: flex;
	flex-direction: column;
	padding: 300px 165px 0px 165px;

	border: solid 1px red;
}

#header-decoLine{
	border-top-color: #b1a3b4;
}
#main-header{
	width: 460px;
	font: 400 68px/1 'DMSerifDisplay';
	color: black;
}

#main-findOut{
	height: 250px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 80px;
	background: hsl(256, 26%, 20%) url("../images/bg-pattern-how-we-work-desktop.svg") right/434px no-repeat;
	color: white;
}
#findOut-header{
	width: 480px;
	font: 400 55px/1 'DMSerifDisplay';
}
#findOut-howWeWorkBt{
	width: 160px;
	color: white;
	border-color: white;
}









