@charset "utf-8";
@font-face {
	font-family: 'DMSerifDisplay';
	src: url("../fonts/DMSerifDisplay-Regular.woff")format('woff');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Karla';
	src: url("../fonts/Karla-Regular.woff");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Karla';
	src: url("../fonts/Karla-Bold.woff");
	font-style: bold;
	font-weight: 700;
}

/*################################### GENERAL ###################################*/
*{
	box-sizing: border-box;
}
body{
	width: 100vw;
	height: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin:0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
a:hover,input[type="button"]:hover{
	cursor:pointer;
}
.square-button{
	height: 40px;
	border: solid 1px;
	background-color: hsla(0,0%,100%,0);
	font: 700 14px 'Karla';
}
.decoLine{
	width: 150px;
	height: 60px;
	border-top: solid 1px;
}
/*################################### NAV ###################################*/
nav{
	width: 1440px;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 165px;
}
nav > div{
	height: 40px;
}
#nav-logo{
	width: 112px;
	background: url("../images/logo.svg") center/112px no-repeat;
}
#nav-links{
	width: 450px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font: 700 14px 'Karla';
}

a[class="nav-link"]{
	color:hsl(273, 4%, 51%);
}
a:visited[class="nav-link"]{
	color:hsl(273, 4%, 51%);
}
#nav-viewPlansBt{
	width: 145px;
	color: black;
	border-color: black;
}
/*################################### HEADER ###################################*/
header{
	width: 1440px;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 105px 165px 0px 165px;
	background-color: hsl(256, 26%, 20%);
	color: white;
}
/*------------------- OVERLAPPED PIC -------------------*/
#header-overlapped-pic{
	width: inherit;
	height: 930px;
	position:absolute;
	display: flex;
	flex-direction: row;
	z-index: 1;
	top:80px;
	left:50%;
	transform: translate(-50%, 0%);
	background: url("../images/image-intro-desktop.jpg") 735px 105px/540px no-repeat;
}
#header-overlapped-pic > div{
	width: 50%;
	height: inherit;
}
#overlapped-pic-left{
	background: url("../images/bg-pattern-intro-left-desktop.svg") 0% 100%/195px no-repeat;
}
#overlapped-pic-right{
	background: url("../images/bg-pattern-intro-right-desktop.svg") 100% 0%/436px no-repeat;
}
/*------------------- HEADER CONTENT -------------------*/
#header-decoLine{
	border-top-color: white;
}
h1{
	width: 540px;
	font: 400 72px/0.9'DMSerifDisplay';
	padding: 0px;
	margin: 0px 0px 25px 0px;
}

#header-text{
	width: 540px;
	font: 400 16px/1.7 'Karla';
	padding: 0px;
	margin: 0px 0px 30px 0px;
}

#header-viewPlansBt{
	width: 145px;
	color: white;
	border-color: white;
}
/*################################### MAIN ###################################*/

main{
	width: 1440px;
	height: 1340px;
	display: flex;
	flex-direction: column;
	padding: 300px 165px 0px 165px;
}

#header-decoLine{
	border-top-color: #b1a3b4;
}
#main-header{
	width: 460px;
	font: 400 68px/1 'DMSerifDisplay';
	color: hsl(270, 9%, 17%)
}

/*------------------- FEATURES -------------------*/
#main-features{
	height: 260px;
	width: 1110px;
	display:flex;
	flex-direction: row;
}
#main-features > div{
	width: 370px;
	height: inherit;
	text-align: left;
	padding-right: 15px;
}
#main-features div[class="features-pic"]{
	width: inherit;
	height: 86px;
	background-position: left;
	background-size: 86px;
	background-repeat: no-repeat;
}
#snappyProcess-pic{
	background-image: url("../images/icon-snappy-process.svg");
}
#affordablePrices-pic{
	background-image: url("../images/icon-affordable-prices.svg");
}
#peopleFirst-pic{
	background-image: url("../images/icon-people-first.svg");
}
#main-features h3{
	font: 400 27px/1 'DMSerifDisplay';
	color: hsl(270, 9%, 17%);
	margin: 35px 0px 25px 0px;
}
#main-features p{
	color: #b1a3b4;
	font: 400 16px/1.6 'Karla';
	margin:0px;
}
/*------------------- FIND OUT -------------------*/
#main-findOut{
	height: 250px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 80px;
	margin-top: 150px;
	background: hsl(256, 26%, 20%) url("../images/bg-pattern-how-we-work-desktop.svg") right/434px no-repeat;
	color: white;
}
#findOut-header{
	width: 480px;
	font: 400 55px/1 'DMSerifDisplay';
}
#findOut-howWeWorkBt{
	width: 160px;
	color: white;
	border-color: white;
}

/*################################### FOOTER ###################################*/

footer{
	width:1440px;
	height:390px;
	padding:30px 165px 0px 165px;
	background: hsl(0, 0%, 98%) url("../images/bg-pattern-footer-desktop.svg") 0% 0%/528px no-repeat;
}
/*------------------- FOOTER TOP -------------------*/
#footer-top{
	width: 100%;
	height: 85px;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid 1px #d9d9d9;
}
#footer-logo{
	height: inherit;
	width: 112px;
	background: url("../images/logo.svg") center/112px no-repeat;
}
#footer-media{
	height: inherit;
	display:flex;
	flex-direction: row;
	align-items: center;
}
#footer-media > div{
	width: 24px;
	height: 24px;
	margin-left: 15px;
}

#facebook{
	background: url("../images/icon-facebook.svg") center/24px no-repeat;
}

#twitter{
	background: url("../images/icon-twitter.svg") center/24px no-repeat;
}
#pinterest{
	background: url("../images/icon-pinterest.svg") center/24px no-repeat; 
}
#instagram{
	background: url("../images/icon-instagram.svg") center/24px no-repeat; 
}
/*------------------- FOOTER LINKS -------------------*/

#footer-links{
	width: 100%;
	height: 170px;
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}
#footer-links > div{
	height: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	font: 700 14px/30px 'Karla';
}

#footer-links div[class="section-header"]{
	margin-bottom: 20px;
	color: hsl(273, 4%, 51%);
}
#section-ourCompany{
	width: 285px;
}
#section-helpMe{
	width: 285px;
}
#section-contact{
	width: 285px;
}
#section-others{
	width: 255px;
}
#footer-links a{
	color: hsl(256, 26%, 20%);
}
#footer-links a:visited{
	color: hsl(256, 26%, 20%);
}






